.about {
  width: 270px;
  margin: 0 auto;
}

.about__title {
  margin: 0;
  margin-bottom: 90px;
  padding-top: 35px;

  @include font-bold;
  font-size: $fs-title;
  line-height: 30px;
  color: $title-black;
}

.about__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include list-style;
  @include font-bold;
  font-size: $fs-text;
  line-height: 20px;
  color: $text-black;
}

.about__item {
  margin-bottom: 85px;

  &:last-child {
    margin-bottom: 65px;
  }
}
