.card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-product__desc {
  margin: 0;
  margin-bottom: 30px;

  @include font-regular;
  font-size: $fs-main;
  line-height: 24px;
  color: $text-dark;
}

.card-product__list {
  margin-bottom: 28px;
}

.card-product__price {
  margin: 0;
  margin-bottom: 28px;

  @include font-bold;
  font-size: $fs-text;
  line-height: 24px;
  color: $text-dark;
}

.card-product__btn {
  align-self: stretch;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .card-product {
    width: 255px;
  }
}
