.card-table {
  width: 100%;

  @include font-regular;
  font-size: $fs-main;
  line-height: 20px;
  color: $text-dark;

  border-collapse: collapse;
}

.card-table tr {
  border-bottom: 1px solid $border;
}

.card-table__field {
  width: 95px;
}
