.card-table {
  width: 100%;

  @include font-regular;
  font-size: $fs-main;
  line-height: 20px;
  color: $text-dark;

  border-collapse: collapse;
}

.card-table tr {
  height: 41px;

  border-bottom: 1px solid $border;

  &:first-child {
    height: 35px;
  }
}

.card-table__field {
  width: 95px;
}

@media (min-width: $desktop-width) {
  .card-table tr:first-child {
    height: 37px;
  }
}
