.checkbox-list {
  @include list-style;
}

.checkbox-list__label {
  @include font-bold;
  font-size: $fs-text;
  line-height: 18px;
  color: $text-black;
}

@media (min-width: $tablet-width) {
  .checkbox-list {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
  }

  .checkbox-list__item {
    width: 205px;
  }
}
