.contacts {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include font-regular;
  font-size: 15px;
  line-height: 30px;
  color: $text;
}

.contacts__title {
  margin: 0;
  margin-bottom: 40px;

  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__email {
  margin: 0;
  margin-bottom: 35px;
}

.contacts__email span {
  margin-left: 35px;

  border-bottom: 1px solid $green;
}

.contacts__address {
  margin: 0;
}

.contacts__btn {
  text-align: center;
}
