.details__textarea {
  resize: none;
}

@media (min-width: $tablet-width) {
  .details {
    display: flex;
    flex-wrap: wrap;
  }

  .details__title {
    width: 25%;
  }

  .details__textarea {
    width: 75%;
  }
}
