.email {
  padding-top: 11px;
}

.email__wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

.email__title {
  width: 100%;
  margin-bottom: 21px;
}

.email__input {
  width: 100%;
  margin-bottom: 22px;
  padding-bottom: 16px;

  @include font-regular;
  font-size: $fs-link;
  line-height: 18px;
  color: $text-dark;

  border: none;
  border-bottom: 2px solid $text-black;

  &:hover {
    border-color: $bg-green;
  }

  &:focus {
    border-color: $bg-green;
  }
}

.email__icon {
  position: absolute;
  right: 4px;
  top: 32px;

  fill: rgba($text-black, $alpha: 0.3);
}

@media (min-width: $tablet-width) {
  .email {
    padding-bottom: 50px;

    background-color: $bg-gray;
  }

  .email__wrapper {
    @include tablet-content-wrapper;
    align-self: baseline;
  }

  .email__title {
    width: 25%;
  }

  .email__input {
    padding-left: 17px;
    padding-bottom: 15px;
    margin: 0;
    width: 75%;

    font-size: $fs-text--big;

    background-color: $bg-gray;
  }

  .email__icon {
    right: 23px;
    top: 2px;
  }
}

@media (min-width: $desktop-width) {
  .email__wrapper {
    @include desktop-content-wrapper;
    display: flex;
    flex-wrap: wrap;
  }

  .email__title {
    margin-left: 63px;
    margin-bottom: 10px;
    width: 10%;
  }

  .email__input {
    margin-left: 8px;
    width: 700px;

    background-position: 665px 1px;
  }
  
  .email__input:hover + .email__icon {
    fill: $icon-input;
  }

  .email__input:focus + .email__icon {
    fill: $icon-input;
  }

  .email__icon {
    right: 180px;
  }
}
