.features {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 5px bottom;
  background-size: auto 6px;
}

.features__wrapper {
  position: relative;

  width: 260px;
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.features__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 6px;

  @include font-bold;
  font-size: $fs-title;
  line-height: 30px;
  color: $title-black;
}

.features__sub-title {
  margin: 0;
  margin-bottom: 21px;
  align-self: flex-start;

  @include font-bold;
  font-size: $fs-title--smaller;
  line-height: 20px;
  color: $title-green;

  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 48px;
    padding-bottom: 24px;

    background-size: auto 15px;
  }

  .features__wrapper {
    width: 668px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__title {
    padding: 0;
    margin-bottom: 51px;
    width: 64%;

    font-size: $fs-title-tablet--big;
    line-height: 50px;
  }

  .features__sub-title {
    width: 11%;
    margin: 0;
    margin-right: 26px;
    margin-left: auto;
    padding-top: 12px;

    line-height: 17px;

    text-align: center;
  }

  .features__card-product {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .features {
    position: relative;

    @include desktop-content-wrapper;
    padding-bottom: 51px;

    background-size: auto 20px;
  }

  .features__wrapper {
    width: auto;
  }

  .features__title {
    z-index: 10;

    width: 70%;
    order: 2;
    margin: 0;
    margin-left: 50px;
    margin-top: 79px;
    margin-bottom: 52px;

    font-size: $fs-title-desktop;
  }

  .features__sub-title {
    order: 1;
    margin: 0;
    width: 7%;
    margin-left: 48px;
    margin-top: 78px;
  }

  .features__card-product {
    margin-left: 177px;
    order: 3;
  }

  .features__img {
    position: absolute;
    width: 500px;
    right: 0;
    top: 120px;
  }
}
