.features {
  width: 270px;
  margin: 0 auto;
  padding-bottom: 35px;
}

.features__title {
  margin: 0;
  padding-top: 30px;

  @include font-bold;
  font-size: $fs-title;
  line-height: 30px;
  color: $title-black;
}

.features__wrapper {
  width: 270px;
  margin: 0 auto;
}
