.form-list {
  @include list-style;
  display: flex;
}

.form-list__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;

  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.form-list__label {
  @include font-bold;
  font-size: $fs-text;
  line-height: 16px;
  color: $text-dark;
  text-transform: uppercase;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 82px;
    height: 52px;
    border: 2px solid $border;
  }
}

.form-list__checkbox:hover + .form-list__label::before {
  border-color: rgba($border-modal--hover, $alpha: 0.3);
}

.form-list__checkbox:checked + .form-list__label::before {
  border-color: $border-green;
}

@media (min-width: $tablet-width) {
  .form-list__item {
    width: 112px;
    height: 52px;
  }

  .form-list__label::before {
    width: 112px;
    height: 52px;
  }
}
