.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  right: 27px;
  top: 23px;

  width: 28px;
  height: 28px;

  background-color: transparent;

  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: url("../img/icon-menu-open.svg");

  position: absolute;
  right: 4px;
  top: 6px;
}

.main-nav--opened .main-nav__toggle::before {
  content: url("../img/icon-menu-close.svg");

  position: absolute;
  right: 4px;
  top: 4px;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
    padding: 0;
    padding-top: 19px;
    padding-bottom: 16px;
  }

  .main-nav--closed .site-list__item--logo {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    @include desktop-content-wrapper;
  }
}
