.map {
  min-height: 457px;

  background-color: #e9e4da;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 322px auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.map__container {
  display: block;
  width: 100%;
  height: 457px;
}

@media (min-width: $tablet-width) {
  .map {
    background-color: #e9e4da;
    background-image: url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 525px;

    background-color: #e9e4da;
    background-image: url("../img/map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 525px auto;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
