.map {
  min-height: 457px;

  background-color: #e9e4da;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .map {
    background-color: #e9e4da;
    background-image: url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 525px;

    background-color: #e9e4da;
    background-image: url("../img/map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
