.modal {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 200px;

  display: none;
  width: 568px;
  margin-left: -284px;
  padding-top: 49px;
  padding-bottom: 46px;

  background-color: #ffffff;

  border: 1px solid $border-modal;

  box-shadow: 0 5px 14px -2px rgba(0, 0, 0, 0.35);
}


.modal--show {
  display: block;
}
