.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

.modal-form__title {
  margin: 0;
  margin-bottom: 25px;
  width: 150px;

  @include font-bold;
  font-size: $fs-title--modal-small;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
}

.modal-form__text {
  margin-bottom: 25px;

  @include font-regular;
  font-size: $fs-main;
  line-height: 30px;
  color: $text-dark;
}

.modal-form__list {
  margin-bottom: 25px;
}

.modal-form__btn {
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 260px;

  color: $text-white;

  background-color: $bg-green;

  cursor: pointer;
  border: none;
}

@media (min-width: $tablet-width) {
  .modal-form {
    width: 350px;
  }

  .modal-form__title {
    margin: 0;
    margin-bottom: 25px;
    width: auto;

    font-size: $fs-title--modal;
    line-height: 57px;
  }

  .modal-form__text {
    margin-bottom: 25px;

    font-size: $fs-text;
  }

  .modal-form__btn {
    align-self: stretch;
  }
}
