.page-footer {
  @include mobile-wrapper;

  background-color: $bg-gray;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    @include tablet-wrapper;
    padding-top: 29px;
    padding-bottom: 28px;
  }

  .page-footer__wrapper {
    @include tablet-content-wrapper;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__copyright {
    padding-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: auto;
  }

  .page-footer__wrapper {
    @include desktop-content-wrapper;
  }

  .page-footer__logo {
    margin-left: 3px;
    padding-bottom: 10px;
  }
}
