.phone {
  padding-top: 11px;
}

.phone__wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

.phone__title {
  width: 100%;
  margin-bottom: 14px;
}

.phone__input {
  width: 100%;
  margin-bottom: 22px;
  padding-bottom: 16px;

  @include font-regular;
  font-size: $fs-text--big;
  line-height: 18px;
  color: $text-dark;

  border: none;
  border-bottom: 2px solid $text-black;

  &:hover {
    border-color: $bg-green;
  }

  &:focus {
    border-color: $bg-green;
  }
}

.phone__icon {
  position: absolute;
  right: 9px;
  top: 34px;

  fill: rgba($text-black, $alpha: 0.3);
}

@media (min-width: $tablet-width) {
  .phone {
    padding-top: 61px;

    background-color: $bg-gray;
  }

  .phone__wrapper {
    @include tablet-content-wrapper;
    align-items: baseline;
  }

  .phone__title {
    width: 25%;
  }

  .phone__input {
    width: 75%;
    padding-left: 17px;
    padding-bottom: 12px;

    background-color: $bg-gray;
  }

  .phone__icon {
    right: 29px;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .phone__wrapper {
    @include desktop-content-wrapper;
    display: flex;
    flex-wrap: wrap;
  }

  .phone__title {
    margin-left: 64px;
    width: 6%;
  }

  .phone__input {
    margin-left: 49px;
    width: 700px;

    background-position: 668px 1px;
  }

  .phone__input:hover + .phone__icon {
    fill: $icon-input;
  }

  .phone__input:focus + .phone__icon {
    fill: $icon-input;
  }

  .phone__icon {
    right: 184px;
  }
}
