.promo-list {
  @include list-style;
  margin-top: auto;
}

.promo-list__item {
  display: block;

  text-decoration: none;
}

.promo-list__item--interior {
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 245px center;
  background-color: $bg-green;
}

.promo-list__item--toys {
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 235px center;
  background-color: $bg-dark-green;
}

.promo-list__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 120px;

  @include font-bold;
  font-size: $fs-text--big;
  line-height: 24px;
  color: $text-white;

  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .promo-list {
    display: flex;
    width: 668px;
    margin: 0 auto;
    margin-top: auto;
  }

  .promo-list__item {
    width: 50%;
  }

  .promo-list__item--interior {
    background-position: 257px center;
  }

  .promo-list__item--toys {
    background-position: 241px center;
  }

  .promo-list__link {
    padding-left: 36px;

    font-size: $fs-text-tablet;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo-list {
    width: 1050px;
    margin: 0 auto;
    margin-top: auto;
  }

  .promo-list__link {
    padding-top: 30px;
    padding-left: 39px;
    padding-right: 300px;
  }

  .promo-list__item--interior {
    background-position: 452px center;
  }

  .promo-list__item--toys {
    background-position: 430px center;
  }
}
