.promo-list {
  @include list-style;
  margin-top: auto;
}

.promo-list__item {
  position: relative;

  display: block;

  text-decoration: none;
}

.promo-list__item--interior {
  background-color: $bg-green;
}

.promo-list__interior-icon {
  position: absolute;
  right: 36px;
  bottom: 17px;

  fill: rgba($icon-dark-green, $alpha: 0.5);
}

.promo-list__item--toys {
  background-color: $bg-dark-green;
}

.promo-list__toys-icon {
  position: absolute;
  right: 27px;
  bottom: 24px;

  fill: rgba($icon-dark-green, $alpha: 0.5);
}

.promo-list__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 120px;

  @include font-bold;
  font-size: $fs-text--big;
  line-height: 24px;
  color: $text-white;

  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .promo-list {
    display: flex;
    width: 668px;
    margin: 0 auto;
    margin-top: auto;
  }

  .promo-list__item {
    width: 50%;
  }

  .promo-list__link {
    padding-left: 36px;

    font-size: $fs-text-tablet;
    line-height: 30px;
  }

  .promo-list__interior-icon {
    bottom: 22px;
  }

  .promo-list__toys-icon {
    right: 33px;
  }
}

@media (min-width: $desktop-width) {
  .promo-list {
    width: 1050px;
    margin: 0 auto;
    margin-top: auto;
  }

  .promo-list__link {
    padding-top: 30px;
    padding-left: 39px;
    padding-right: 300px;

    &:active {
      color: rgba($text-white, $alpha: 0.3);
    }
  }

  .promo-list__link:active .promo-list__toys-icon {
    fill: rgba($icon-dark-green, $alpha: 0.3);
  }

  .promo-list__link:active .promo-list__interior-icon {
    fill: rgba($icon-dark-green, $alpha: 0.3);
  }

  .promo-list__item--interior {
    background-position: 452px center;

    &:hover {
      transform: translateY(-5px);
      transition: 0.2s;
    }
  }

  .promo-list__item--toys {
    background-position: 430px center;

    &:hover {
      transform: translateY(-5px);
      transition: 0.2s;
    }
  }
}
