.promo {
  display: flex;
  flex-direction: column;
  min-height: 480px;
  padding-top: 75px;

  background-color: $gray;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -20px;
  background-repeat: no-repeat;
}

.promo--background {
  background-image: none;
}

.promo__title {
  width: 245px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  padding: 0;

  @include font-bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000;

  text-align: center;
}

.promo__list {
  margin-top: auto;
}
