.radiobutton-group {
  padding-bottom: 44px;
}

.radiobutton-group__title {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .radiobutton-group {
    @include tablet-content-wrapper;
    display: flex;
    padding-top: 20px;
  }

  .radiobutton-group__title {
    align-self: flex-start;
    margin: 0;
    margin-top: 3px;
  }

  .radiobutton-group__list {
    margin-left: 147px;
  }
}

@media (min-width: $desktop-width) {
  .radiobutton-group__title {
    margin-left: 65px;
  }

  .radiobutton-group__list {
    margin-left: 93px;
  }
}
