.reviews {
  padding-bottom: 50px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 6px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;

  @include font-bold;
  font-size: $fs-title;
  line-height: 30px;
  color: $title-black;
}

.reviews__btn {
  align-self: center;
  min-width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews {
    @include tablet-wrapper;
    margin-bottom: 67px;
    padding: 0;
    padding-top: 78px;
    padding-bottom: 14px;

    background: url("../img/review@1x.jpg") left center no-repeat;
  }

  .reviews__wrapper {
    @include tablet-content-wrapper;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .reviews__title {
    margin-bottom: 47px;

    font-size: $fs-title-tablet--big;
    line-height: 50px;
  }

  .reviews__post {
    order: 2;
  }

  .post__btn-wrapper {
    margin-left: auto;
  }

  .reviews__btn {
    order: 1;
    margin-left: auto;
    align-self: flex-start;
    min-width: 175px;
    padding-top: 16px;
    padding-bottom: 13px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    @include desktop-content-wrapper;
    padding-top: 73px;
    padding-bottom: 64px;
    margin-bottom: 68px;
  }

  .reviews__wrapper {
    // margin-left: 174px;
    width: auto;
  }

  .reviews__title {
    margin-left: 174px;
    margin-bottom: 51px;

    font-size: $fs-title-desktop;
  }

  .reviews__post {
    margin-left: 177px;
  }
}
