.reviews {
  width: 270px;
  margin: 0 auto;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  margin: 0;
  margin-bottom: 35px;

  @include font-bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__btn {
  text-align: center;
}
