.site-list {
  @include list-style;

  border-top: 1px solid $border;
}

.site-list__item {
  display: flex;

  border-bottom: 1px solid $border;
}

.site-list__link {
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 77px;
  flex-basis: 100%;

  @include font-bold;
  font-size: $fs-link;
  line-height: 24px;
  color: $text-black;

  text-decoration: none;
}

.site-list__item--search {
  position: relative;

  font-size: $fs-link;
}

.site-list__search-icon {
  position: absolute;
  left: 33px;
  top: 32px;

  fill: $icon-color;
  opacity: 0.2;
}

.site-list__item--basket {
  position: relative;
}

.site-list__basket-icon {
  position: absolute;
  left: 30px;
  top: 28px;

  fill: $icon-color;
  opacity: 0.2;
}

.site-list__item--display {
  display: none;
}

.site-list__item--logo {
  text-align: center;
}

.site-list__link--logo {
  padding: 0;
  padding-top: 19px;
  padding-bottom: 16px;
}


@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;

    border: none;
  }

  .site-list__item {
    border: none;
  }

  .site-list__item--logo {
    width: 320px;

    text-align: left;
  }

  .site-list__item--order {
    z-index: 10;

    order: 1;
    padding-top: 8px;
    width: 166px;
  }

  .site-list__item--search {
    width: 84px;

    border-left: 1px solid $border;
  }

  .site-list__search-icon {
    top: 35px;
  }

  .site-list__item--basket {
    width: 264px;

    text-align: right;
    border-left: 1px solid $border;
  }

  .site-list__basket-icon {
    top: 34px;
  }

  .site-list__item--delivery {
    z-index: 10;

    display: block;
    order: 2;
    margin-left: auto;
    padding-top: 18px;

    @include font-regular;
    font-size: $fs-main;
    line-height: 24px;

    text-align: right;
  }

  .site-list__link {
    padding: 0;
    padding-top: 23px;
    padding-bottom: 14px;

    font-size: $fs-link;
  }

  .site-list__link--search {
    padding-top: 32px;

    font-size: 0;
  }

  .site-list__link--basket {
    padding-top: 32px;
  }

  .site-list__link--order {
    padding: 0;
    padding-top: 10px;
    font-size: $fs-main;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    height: 100%;
  }

  .site-list__link {
    padding: 0;

    &:hover {
      color: rgba($text-black, 0.6);
      transition: 0.4s;
    }

    &:active {
      color: rgba($text-black, 0.3);
    }
  }

  .site-list__item--logo {
    order: 2;
    width: 280px;
    margin-right: 35px;

    text-align: center;
  }

  .site-list__link--logo {
    padding-top: 8px;
  }

  .site-list__link--logo[href]:hover picture {
    opacity: 0.6;
  }

  .site-list__link--logo[href]:active picture {
    opacity: 0.3;
  }

  .site-list__item--order {
    order: 1;
    padding: 0;
    width: 200px;
  }

  .site-list__link--order {
    padding-top: 30px;
    padding-left: 35px;

    font-size: $fs-text;
  }

  .site-list__item--catalog {
    width: 187px;

    border-right: 1px solid $border;
  }

  .site-list__link--catalog {
    padding-left: 2px;
  }

  .site-list__item--search {
    order: 3;
  }

  .site-list__link--search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-list__search-icon {
    top: 33px;

    fill: $icon-color;
    opacity: 0.2;
  }

  .site-list__link--search:hover .site-list__search-icon {
    fill: $icon-green;
    opacity: 1;
  }

  .site-list__link--search:active .site-list__search-icon {
    opacity: 0.3;
  }

  .site-list__item--basket {
    order: 4;
    padding-left: 81px;
  }

  .site-list__link--basket {
    display: flex;
    padding-top: 30px;
  }

  .site-list__link--basket:hover .site-list__basket-icon {
    fill: $icon-green;
    opacity: 1;
    transition: 0.4s;
  }

  .site-list__link--basket:active .site-list__basket-icon {
    opacity: 0.3;
  }

  .site-list__basket-icon {
    top: 31px;

    fill: $icon-color;
    opacity: 0.2;
  }

  .site-list__item--display {
    z-index: 10;

    order: 5;
    display: block;
    margin-top: 17px;
    margin-right: 31px;

    width: 187px;
  }

  .site-list__item--display a {
    font-size: $fs-main;
    padding-left: 2px;
  }

  .site-list__item--delivery {
    order: 6;
    margin-right: 0;
    margin-top: 0;
    width: 300px;
  }
}
