.video {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__title {
  @include font-bold;
  font-size: $fs-title--smaller;
  line-height: 24px;
  color: $title-black;
}

.video__desc {
  @include font-regular;
  font-size: $fs-text--small;
  line-height: 24px;
  color: $text-dark;
}

.video__btn {
  text-align: center;
}
