// Цвета

$bg-dark-green:#56c3b2;
$bg-green: #63d1bb;
$bg-gray: #f1f1f1;

$border: #ececec;

$title-green: #63d1bb;
$title-black: #000000;

$text-black:#000000;
$text-dark: #444444;
$text-white: #ffffff;

////////

$fs-title: 25px;
$fs-title--big: 27px;
$fs-title--small: 18px;
$fs-title--smaller: 17px;

$fs-main: 15px;

$fs-text: 17px;
$fs-text--big: 19px;
$fs-text--small: 13px;

$fs-link: 17px;
$fs-link--big: 18px;
