// Цвета

$bg-dark-green:#56c3b2;
$bg-green: #63d1bb;
$bg-gray: #f1f1f1;
$bg-color: #fafafa;
$bg-button: #444444;

$icon-green: #63d1bb;
$icon-color: #221f1f;
$icon-dark-green: #149080;
$icon-footer: #46c1ae;
$icon-input: #62d1ba;

$border: #ececec;
$border-footer: #e5e5e5;
$border-modal: #c6c6c6;
$border-green: #63d1bb;
$border-modal--hover: #444444;

$title-green: #63d1bb;
$title-black: #000000;

$text-black:#000000;
$text-dark: #444444;
$text-white: #ffffff;
$text-green: #63d1bb;

$text-placeholder: rgba(68, 68, 68, 0.3);

////////

$fs-title-tablet--big: 43px;
$fs-title-desktop: 53px;
$fs-title: 25px;
$fs-title--big: 27px;
$fs-title--small: 18px;
$fs-title--smaller: 17px;
$fs-title--modal: 30px;

$fs-main: 15px;

$fs-text-tablet: 20px;
$fs-text: 17px;
$fs-text--big: 19px;
$fs-text--small: 13px;

$fs-link: 17px;
$fs-link--big: 18px;

//
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
